#layer0 {
  bottom: 0;
  left: 0;
}

#layer1 {
  top: 190px;
  left: -250px;
}

#layer2 {
  top: 200px;
  left: 40%;
}

#layer3 {
  top: 200px;
  right: 40%;
}

#layer4 {
  top: 100px;
  right: -150px;
}

#layer5 {
  bottom: -20px;
  left: 10%;
}

#layer6 {
  bottom: 100px;
  left: 20%;
}

#layer7 {
  bottom: 160px;
  right: 45%;
}

#layer8 {
  bottom: 100px;
  right: -10px;
}