.aboutWrapper {
	padding-top: 80px;
	padding-bottom: 80px;
	
	.aboutInner {
		text-align: center;
	}

	.aboutText {
		text-align: center;
		font-weight: bold;
		line-height: 1.8;
		margin-bottom: 16px;
	}

	.aboutButton {
		text-align: center;
		padding: 16px 44px;
		text-decoration: none;
		display: inline-block;
		font-weight: bold;
	}
}