.wrapper {
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;

	.titleWrap {
		margin-bottom: 80px;
	}

	.card {
		box-shadow: none;
		text-align: center;
		margin: auto;
		background-color: transparent;

		.cardMedia {
			width: 110px;
			display: inline;
		}
	}
}